@use 'sass:math';

@import './reset.scss';
//@import './reset.css';

@import './variables.scss';

.home,
.config {
  h2 {
    margin-top: $space-4;
    &:first-child {
      margin-top: 0;
    }
  }
}

a.text {
  text-decoration: none;
  color: $color;
}

@keyframes loading {
  from {
    opacity: 1;
    transform: scale(0.1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

.icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  cursor: pointer;

  img {
    width: 100%;
  }

  &.menu {
    padding: $space-1;
    img {
      width: $icon-size - $space-2;
      height: $icon-size - $space-2;
    }
  }
  &.user {
    border-radius: 50%;
    border: $border;
    overflow: hidden;
  }
  &.loading {
    animation: loading 1.5s infinite;
    cursor: default;
  }
}

@mixin bordered-box($color, $bg-color) {
  color: $color;
  border: solid 1px $color;
  background-color: $bg-color;
  border-radius: $border-radius;
  margin: $space-1 0;
  padding: $space-1;
  a {
    color: $color;
  }
}
.info {
  @include bordered-box($blue, $bg-blue);
}
.warn {
  @include bordered-box($brown, $bg-yellow);
}
.error {
  @include bordered-box($red, $bg-pink);
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  height: $header-size;
  left: 0;
  top: 0;
  border-bottom: $border;
  background-color: $background-color;
  .icon-holder {
    flex-basis: $header-size;
    padding: $space-2;
  }
  .search {
    flex-grow: 1;
    div {
      display: flex;
      align-items: center;
      height: $header-size;
    }
  }
  .user-panel {
    position: absolute;
    right: $space-2;
    top: $header-size + $space-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $border;
    border-radius: $border-radius;
    background-color: $background-color;
    box-shadow: $box-shadow;
    & > div {
      margin: $space-2 $space-4;
    }
    & > div + div {
      margin-top: 0;
    }
    .avatar {
      width: $icon-size * 2;
      height: $icon-size * 2;
      border-radius: 50%;
      border: $border;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    & > hr {
      margin: 0;
      height: 1px;
    }
  }
}

nav {
  position: fixed;
  top: $header-size;
  width: calc(100vw - 16px);
  max-width: 300px;
  height: calc(100vh - $header-size);
  border-right: $border;
  background-color: $background-color;
  box-shadow: 4px 16px 16px $ht-black;
  transition: left 200ms;
  & ul {
    margin: 0;
  }
  & li {
    margin: 0;
    padding: 0;
    & > a {
      display: block;
      padding: $space-2 $space-4;
      &:hover {
        background-color: $bg-blue;
      }
    }
  }
}

main {
  margin: calc($header-size + $space-2) $space-2 $space-2 $space-2;
  .new-note {
    position: absolute;
    right: $space-4;
    bottom: $space-4;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border: $border;
    border-radius: 50%;
    box-shadow: $box-shadow;
    img {
      width: 80%;
      margin-left: 10%;
      margin-top: 10%;
      pointer-events: none;
    }
  }
  .editor {
    textarea {
      height: calc(100vh - $header-size - $space-4);
      resize: none;
    }
  }
  .list {
    h2 {
      border-bottom: $border;
    }
    ul {
      margin: 0;
    }
    li {
      display: flex;
      justify-content: space-between;
      border-bottom: $border;
      $icon-width: 40px;
      margin-left: 0;
      transition: margin-left 0.2s;
      a {
        display: block;
        text-decoration: none;
        width: calc(100vw - $space-4 - $icon-width);
        h3,
        small {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        h3 {
          color: $color;
          font-size: 1rem;
        }
        small {
          color: $gray-4;
          font-size: 0.5rem;
        }
      }
      .disabled {
        width: calc(100vw - $space-4);
        background-color: $gray-e;
        h3,
        small {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $gray-4;
        }
        h3 {
          font-size: 1rem;
          img {
            width: math.div($icon-width, 3);
            vertical-align: middle;
          }
        }
        small {
          font-size: 0.5rem;
        }
      }
      .icon-more {
        padding: $space-2;
        width: $icon-width;
        cursor: pointer;
        img {
          display: inline-block;
        }
      }
      .menu {
        display: none;
      }

      &.menu-opened {
        margin-left: -$icon-width;
        transition: margin-left 0.2s;
        .menu {
          display: block;
          padding: $space-2;
          width: $icon-width;
          &.delete {
            cursor: pointer;
            background-color: $red;
          }
          &.loading {
            animation: loading 1.5s infinite;
          }
        }
      }
    }
  }
}
